/*****************************
00. Mixins CSS
******************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
.mainmenu ul li ul li, .mainmenu ul li ul li a {
  display: block; }

.slicknav_menu {
  display: none; }

.mainmenu ul li ul {
  position: absolute; }

a, button, img, input, span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.mainmenu ul li ul li {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.mainmenu ul li ul {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.mainmenu ul li ul, .mainmenu ul li ul ul {
  visibility: hidden;
  opacity: 0; }

.mainmenu ul li:hover > ul {
  visibility: visible;
  opacity: 1; }

/*======fonts==============*/
/*=================== Reset CSS =====================*/
img {
  max-width: 100%;
  height: auto; }

a, a:hover, a:focus, a:active, button, button:focus,
input, input:focus, select, textarea, textarea:focus, .slick-slide, .slick-slide:focus, .slick-slide:active {
  outline: 0 solid; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

::selection {
  background: #90B1C3;
  color: #fff; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a, button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer; }

*:focus {
  outline: none !important; }

a:focus {
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button, input[type=submit] {
  cursor: pointer; }

/*==============Common CSS===================*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999999; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 600; }

p:last-child {
  margin-bottom: 0; }

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
  border-radius: 5px;
  height: 50px;
  padding: 8px 20px; }

input[type=submit], button[type=submit] {
  cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999999; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999999; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999999; }

/*========.section-title=========*/
/*======.owl-dots customization=======*/
/*=====owl nav customization======*/
/*========.nice-select=============*/
/*=============== Header CSS ==================*/
.mainmenu ul li ul {
  left: 0;
  top: 120px;
  width: 300px;
  z-index: 9999; }

.mainmenu ul li ul ul {
  left: 100%;
  top: 45px; }

.mainmenu ul li:hover > ul {
  top: 72px; }

.mainmenu ul li ul li {
  border-bottom: 1px solid #f4f4f4; }

.mainmenu ul li ul li a {
  padding: 12px 15px 12px;
  text-transform: capitalize; }

.mainmenu ul li ul li:hover {
  border-color: #db2d2e; }

.mainmenu ul li ul li:last-child {
  border-bottom: 4px solid #db2d2e; }

.mainmenu ul li ul li:hover ul {
  top: 0; }

/* =======slicknav_menu======== */
@media (max-width: 991px) {
  .slicknav_menu {
    display: block;
    background: #ddd;
    position: fixed;
    left: 0;
    top: -10px;
    right: 0;
    width: 720px;
    z-index: 999999999999;
    margin: 0 auto;
    height: 0; }
    .slicknav_menu span.slicknav_menutxt {
      display: none; }
    .slicknav_menu .slicknav_btn {
      padding: 0;
      margin: 0px 11px 0 0;
      font-size: 30px;
      background: none;
      top: 38px;
      right: 15px; } }
    @media (max-width: 991px) and (min-width: 576px) {
      .slicknav_menu .slicknav_btn {
        margin: 0px -5px 0 0; } }

@media (max-width: 991px) {
      .slicknav_menu .slicknav_btn:hover {
        background: none; }
    .slicknav_menu .slicknav_icon {
      margin: 0; }
      .slicknav_menu .slicknav_icon span {
        background-color: #262262;
        border-radius: 0px; }
    .slicknav_menu .slicknav_nav {
      padding: 10px 0;
      background: #fff;
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      -webkit-box-shadow: 2px 10px 30px -14px #000;
      box-shadow: 2px 10px 30px -14px #000; }
      .slicknav_menu .slicknav_nav .slicknav_row {
        padding: 0; }
        .slicknav_menu .slicknav_nav .slicknav_row a {
          padding: 10px 15px;
          display: inline-block; }
      .slicknav_menu .slicknav_nav .slicknav_row {
        border-radius: 0px; }
        .slicknav_menu .slicknav_nav .slicknav_row:hover {
          border-radius: 0px; }
    .slicknav_menu a {
      padding: 10px 15px;
      font-size: 16px;
      color: #000;
      border-radius: 0; }
      .slicknav_menu a:hover {
        border-radius: 0; } }

@media (max-width: 767px) {
  .slicknav_menu {
    width: 540px; } }

@media (max-width: 575px) {
  .slicknav_menu {
    width: 100%; } }

/*============== Footer CSS ================*/
/*=========== Button CSS ==========*/
.mainmenu ul li ul li:hover > a {
  background-color: #db2d2e; }

.mainmenu ul li ul li:hover > a {
  color: #ffffff; }

.mainmenu ul li ul {
  background-color: #ffffff; }

/*================Home Page CSS===============*/
