/*=========== Button CSS ==========*/
.boxed-btn {
    border: 1px solid #fff;
    padding: 9px 25px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    &:hover {
        background: #59B369;
        border-color: #59B369;
        color: #fff;
    }
}

.inline-btn {
    color: #59B369;
    text-decoration: underline;
    padding: 10px;
    &:hover {
        color: #fff;
    }
}
